apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-agent-python
  labels:
    app: ai-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-agent
  template:
    metadata:
      labels:
        app: ai-agent
    spec:
      containers:
      - name: ai-agent
        image: ai-agent-python:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: GEMINI_API_KEY
          valueFrom:
            secretKeyRef:
              name: kubesent-secrets
              key: gemini-api-key
        - name: MODEL_NAME
          value: "gemini-2.5-flash"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  name: ai-agent-service
spec:
  type: ClusterIP
  selector:
    app: ai-agent
  ports:
  - port: 8000
    targetPort: 8000